<ion-tabs >

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" *ngIf="!token">
      <ion-icon name="person"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario" *ngIf="token">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Enviar propuesta" (click)="presentModal('Enviar propuesta')"><ion-icon name="bulb"></ion-icon></ion-fab-button>
      <ion-fab-button data-desc="Realizar consulta" (click)="presentModal('Realizar consulta')"><ion-icon name="help"></ion-icon></ion-fab-button>
      <ion-fab-button data-desc="Nueva incidencia" (click)="presentModal('Nueva incidencia')"><ion-icon name="warning"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="information"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="help"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="warning"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button data-admin="Admin Notificacion " (click)="presentModal('Enviar Notificación')"><ion-icon name="information" ></ion-icon></ion-fab-button>
      <ion-fab-button data-admin="Admin Aviso" (click)="presentModal('Enviar Aviso')"><ion-icon name="warning" ></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-tabs>
