<ion-card  class="animated fadeIn" mode="md">
  
  <ion-item line="none" >

      <ion-label>
        <h2 *ngIf="this.noticia._embedded['wp:term'][1][0]" class="">  {{ this.noticia._embedded['wp:term'][1][0].name }} </h2>
        <h1 (click)="abrirNoticia()"> {{noticia.title.rendered}} </h1>
      </ion-label>

  </ion-item>
  <ion-slides pager="false" *ngIf="imagen" [options]="slideOptions">
    <ion-slide *ngIf="imagen" 
                (click)="abrirNoticia()" 
                class="image-slide"
                [style.background-image]="(imagen | domSanitizer)">

    </ion-slide>
  </ion-slides>


  <!-- Mapa-->

 

  <!-- Contenido -->
  <ion-card-content text-wrap>
    <div [innerHTML]="noticia.excerpt.rendered"></div>
  </ion-card-content>
  
   <!-- Opciones -->
   <ion-item>
    <ion-icon name="map" slot="end"></ion-icon>
    <ion-icon name={{iconoGuadado}} slot="end" (click)="guardarNoticia()"></ion-icon>  
    <ion-icon name="share-social" slot="end" (click)="compartirNoticia()"></ion-icon>
  </ion-item>

</ion-card>
