<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-slides [options]="slideOptions" *ngIf="posts.length < 1">
    <ion-slide>
      <ion-spinner  name="crescent" color="primary"></ion-spinner>
    </ion-slide>
</ion-slides>
  

  <!-- <app-noticias [noticiasCom]="noticias"></app-noticias> -->
  <app-posts [posts]="posts" ></app-posts>

  <ion-infinite-scroll threshold="150px"
                        (ionInfinite)="loadData( $event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingText="Cargando data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
