<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar >
    <!-- <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons> -->
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <app-spinner *ngIf="posts.length < 1"></app-spinner>
  

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Post -->
   <app-posts [posts]="posts" ></app-posts> 

  <!-- Infinite scroll -->

  <ion-infinite-scroll threshold="150px"
                        (ionInfinite)="loadData( $event)"
                        [disabled]="!habilitado">
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingText="Cargando data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
